/*----------------------

  Titan CSS 1.0
  By Themanoid

  Table of contents

  -

-----------------------*/
.panel {
  border-radius: 0 !important;
  border-color: #ccc;
  margin: 0 !important;
  border-bottom: 0 !important;
}

.panel:last-child {
  border-bottom: 1px solid #ccc !important;
}

.panel-heading {
  background: #fff !important;
  border-color: #ccc !important;
}

.panel-heading h4 {
  padding: 10px;
}

.panel-heading a {
  text-decoration: none !important;
}

.panel-body {
  padding: 25px;
}

.panel-body img {
  max-width: 100%;
  margin-bottom: 20px;
}

blockquote {
  border: 2px solid #EDEDED;
  font-family: "Questrial", "Helvetica Neue", sans-serif;
  font-size: 1.4em;
  padding: 30px 40px;
  display: block;
  text-align: center;
  margin: 60px 0;
}

.text-center blockquote {
  float: none;
  margin: 15px auto;
}

.bordered {
  border: 1px solid #EDEDED;
  padding: 30px;
}

@media screen and (max-width: 768px) {
  .bordered {
    padding: 15px;
  }
}

.bordered h1, .bordered h2, .bordered h3 {
  margin-top: 0;
}

.bordered p:last-child {
  margin-bottom: 0;
}

.box {
  padding: 40px;
  background: #fff;
}

@media screen and (max-width: 768px) {
  .box {
    padding: 15px;
  }
}

.box.gray {
  background: #EDEDED;
}

.box h1:first-child, .box h2:first-child, .box h3:first-child, .box h4:first-child {
  margin-top: 0;
}

.box p {
  margin-bottom: 20px;
}

.box p:last-child {
  margin-bottom: 0;
}

#countdown .text {
  font-size: 3em;
  font-family: "Questrial", "Helvetica Neue", sans-serif;
}

#countdown .subtitle {
  font-size: 18px;
}

.btn {
  -webkit-transition: all .3s;
  transition: all .3s;
  color: #ff2323;
}

.btn:focus, .btn:active, .btn:hover {
  box-shadow: none !important;
  outline: none !important;
}

.btn-primary {
  background: #202020;
  border-radius: 0;
  color: #fff;
  border: 0;
  padding: 10px 16px;
  font-family: "Questrial", "Helvetica Neue", sans-serif;
  font-size: 1em;
}

.btn-primary:hover, .btn-primary:focus {
  background: #202020;
  opacity: .8;
}

.btn-secondary {
  background: none;
  border: 0;
  border-bottom: 2px solid #202020;
  border-radius: 0;
  padding: 5px 0;
}

.btn-secondary:hover, .btn-secondary:focus {
  padding-left: 5px;
  padding-right: 5px;
}

.filters {
  margin: 0 20px;
  padding: 0;
  list-style: none;
}

.filters li {
  float: left;
  padding: 2px 5px 15px;
}

.filters li:first-child {
  padding-left: 0;
}

.filters li:last-child {
  padding-right: 0;
}

.filters li button {
  background: none;
  border: 0;
  padding: 4px 12px;
  border-radius: 20px;
  color: rgba(32, 32, 32, 0.4);
}

.filters li button:hover, .filters li button.active {
  color: #202020;
}

.filters li button:focus {
  outline: none;
}

.filters li button.active {
  background: #EDEDED;
}

@media screen and (max-width: 992px) {
  .filters {
    text-align: center;
    width: 100%;
    margin: 15px 0;
  }
  .filters li {
    margin: 0 !important;
    padding: 5px 0 !important;
    float: none;
    opacity: 1 !important;
  }
}

.filter-container {
  width: 100%;
}

.filter-container .filters li {
  opacity: 0;
}

.filter-container .filters.open li {
  -webkit-animation: fade-in .3s both;
          animation: fade-in .3s both;
}

.filter-container .filters.open li:nth-child(1) {
  -webkit-animation-delay: 0.1s;
          animation-delay: 0.1s;
}

.filter-container .filters.open li:nth-child(2) {
  -webkit-animation-delay: 0.2s;
          animation-delay: 0.2s;
}

.filter-container .filters.open li:nth-child(3) {
  -webkit-animation-delay: 0.3s;
          animation-delay: 0.3s;
}

.filter-container .filters.open li:nth-child(4) {
  -webkit-animation-delay: 0.4s;
          animation-delay: 0.4s;
}

.filter-container .filters.open li:nth-child(5) {
  -webkit-animation-delay: 0.5s;
          animation-delay: 0.5s;
}

.filter-container .filters.open li:nth-child(6) {
  -webkit-animation-delay: 0.6s;
          animation-delay: 0.6s;
}

.filter-container .filters.open li:nth-child(7) {
  -webkit-animation-delay: 0.7s;
          animation-delay: 0.7s;
}

.filter-container .filters.open li:nth-child(8) {
  -webkit-animation-delay: 0.8s;
          animation-delay: 0.8s;
}

.filter-container .filters.open li:nth-child(9) {
  -webkit-animation-delay: 0.9s;
          animation-delay: 0.9s;
}

.filter-container .filters.open li:nth-child(10) {
  -webkit-animation-delay: 1s;
          animation-delay: 1s;
}

.filter-container .filters.open li:nth-child(11) {
  -webkit-animation-delay: 1.1s;
          animation-delay: 1.1s;
}

.filter-container .filters.open li:nth-child(12) {
  -webkit-animation-delay: 1.2s;
          animation-delay: 1.2s;
}

.filter-container .filters.open li:nth-child(13) {
  -webkit-animation-delay: 1.3s;
          animation-delay: 1.3s;
}

.filter-container .filters.open li:nth-child(14) {
  -webkit-animation-delay: 1.4s;
          animation-delay: 1.4s;
}

.filter-container .filters.open li:nth-child(15) {
  -webkit-animation-delay: 1.5s;
          animation-delay: 1.5s;
}

.filter-container .filters.open li:nth-child(16) {
  -webkit-animation-delay: 1.6s;
          animation-delay: 1.6s;
}

.filter-container .filters.open li:nth-child(17) {
  -webkit-animation-delay: 1.7s;
          animation-delay: 1.7s;
}

.filter-container .filters.open li:nth-child(18) {
  -webkit-animation-delay: 1.8s;
          animation-delay: 1.8s;
}

.filter-container .filters.open li:nth-child(19) {
  -webkit-animation-delay: 1.9s;
          animation-delay: 1.9s;
}

.filter-container .filters.open li:nth-child(20) {
  -webkit-animation-delay: 2s;
          animation-delay: 2s;
}

@media screen and (max-width: 992px) {
  .filter-container .mr-md {
    display: none;
  }
  .filter-container .filters li {
    margin-top: 20px;
  }
}

@-webkit-keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

footer {
  padding: 50px 0;
}

@media screen and (max-width: 992px) {
  footer {
    padding: 25px 0;
  }
}

footer .brand {
  display: block;
}

footer h4 {
  margin-bottom: 20px;
}

@media screen and (max-width: 992px) {
  footer h4 {
    margin-top: 40px;
  }
}

footer .img-blocks img {
  max-width: 55px;
  margin-right: 3px;
}

.footer-simple {
  background: #EDEDED;
}

.footer-simple ul {
  margin-bottom: 0 !important;
}

.bottom {
  background: #EDEDED;
  padding: 30px 0;
}

.bottom ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.bottom ul li {
  display: inline-block;
  margin: 0 10px;
}

.bottom ul li a {
  color: #202020;
}

@media screen and (max-width: 992px) {
  .bottom {
    text-align: center;
  }
  .bottom ul {
    width: 100%;
    margin-top: 10px;
  }
  .bottom ul li {
    margin: 10px;
    display: block;
  }
}

.copyright {
  color: rgba(32, 32, 32, 0.5);
}

@media screen and (max-width: 768px) {
  .copyright {
    margin-left: 15px;
  }
}

.form-control {
  border: 0;
  border-radius: 0;
  box-shadow: none !important;
}

.input-group.gray .form-control, .input-group.gray .input-group-btn {
  background: #EDEDED;
}

.input-group .input-group-btn {
  background: white;
}

.input-group .input-group-btn .btn {
  background: transparent;
}

.contact-form .form-control {
  border-bottom: 1px solid #787878;
  box-shadow: none;
  padding: 10px 0;
  height: auto;
  margin-bottom: 10px;
}

.contact-form textarea.form-control {
  height: 90px;
}

.contact-form .btn {
  padding: 10px 0;
}

.contact-form .btn:hover, .contact-form .btn:focus {
  padding-left: 5px;
  padding-right: 5px;
}

form {
  position: relative;
  z-index: 0;
}

form .form-control {
  z-index: 0;
}

.error {
  color: #202020 !important;
  background: tomato !important;
  margin: 10px 0;
  clear: both;
  float: left;
  display: none;
}

header {
  padding: 50px 0;
  left: 0;
  right: 0;
  top: 0;
  position: absolute;
  z-index: 2;
}

@media screen and (max-width: 992px) {
  header {
    padding: 25px 0;
  }
}

@media screen and (max-width: 768px) {
  header {
    padding: 15px 0;
  }
}

header .brand-light {
  display: none;
}

.dark-hero .brand-light {
  display: inherit;
}

.dark-hero .brand-default {
  display: none;
}

.hero {
  position: relative;
  padding: 30vh 0;
  height: 100vh;
  font-size: 21px;
}

@media screen and (max-width: 992px) {
  .hero {
    font-size: 16px;
    height: auto;
    padding: 150px 0 50px;
  }
}

.hero.default-text {
  font-size: 14px;
}

.hero.small {
  height: auto;
  padding: 200px 0;
}

@media screen and (max-width: 992px) {
  .hero.small {
    padding: 150px 0 50px;
  }
}

.hero.small.behind {
  padding-bottom: 400px;
  margin-bottom: -200px;
}

@media screen and (max-width: 992px) {
  .hero.small.behind {
    padding-bottom: 50px;
    margin-bottom: -100px;
  }
}

.hero.small.behind .vbottom {
  margin-bottom: 200px;
}

.hero.smaller {
  height: auto;
  padding: 100px 0;
}

.hero.smaller.behind {
  padding-bottom: 200px;
  margin-bottom: -100px;
}

.hero.smaller.behind .vbottom {
  margin-bottom: 100px;
}

.hero.tiny {
  height: auto;
  padding: 70px 0;
}

.hero.tiny.behind {
  margin-bottom: -100px;
}

@media screen and (max-width: 768px) {
  .hero.tiny {
    padding: 35px 0;
  }
  .hero.tiny.behind {
    margin-bottom: -65px;
  }
}

.hero.medium {
  height: auto;
  padding: 300px 0;
}

.hero.medium.behind {
  margin-bottom: -200px;
  padding-top: 200px;
}

.hero.medium.behind .container {
  padding-bottom: 100px;
}

@media screen and (max-width: 992px) {
  .hero.medium {
    padding: 100px 0 50px;
  }
  .hero.medium.behind {
    margin-bottom: -100px;
    padding-top: 100px;
  }
  .hero.medium.behind .container {
    padding-bottom: 50px;
  }
}

.bg {
  position: absolute;
  background-size: cover;
  background-position: center;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  overflow: hidden;
}

.bg.light-gray {
  background: #EDEDED;
}

.bg.gray {
  background: #454545;
}

.bg.faded {
  opacity: .5;
}

.bg.faded-more {
  opacity: .2;
}

.bg video {
  position: fixed;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: 0;
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
}

@media screen and (max-device-width: 800px) {
  .bg video {
    display: none;
  }
}

.banner {
  margin: 10px 0;
  padding: 140px 100px;
  position: relative;
  z-index: 1;
}

@media screen and (max-width: 992px) {
  .banner {
    margin: 20px 0 0;
    padding: 50px;
  }
}

.banner .bg {
  z-index: 0;
}

.banner h1, .banner h2, .banner h3, .banner h4 {
  margin-top: 8px;
  position: relative;
  z-index: 1;
}

.avatar {
  width: 100px;
  border-radius: 100px;
  overflow: hidden;
  display: inline-block;
}

.avatar img {
  width: 100%;
}

.item-grid {
  position: relative;
  display: inline-block;
  vertical-align: top;
  -webkit-transition: all .3s;
  transition: all .3s;
}

.item-grid:after {
  content: '';
  display: block;
  clear: both;
}

@media screen and (max-width: 768px) {
  .item-grid {
    margin: 0 !important;
  }
  .item-grid .item, .item-grid .item-sizer {
    width: 100% !important;
    margin: 10px 0 !important;
  }
}

.item-grid .item, .item-grid .item-sizer {
  display: block;
  float: left;
  position: relative;
  overflow: hidden;
}

.item-grid .item:hover, .item-grid .item-sizer:hover {
  text-decoration: none;
}

.item-grid .item:hover .caption, .item-grid .item-sizer:hover .caption {
  opacity: 1;
  top: 20px;
  left: 20px;
  bottom: 20px;
  right: 20px;
}

.item-grid .item:hover .caption.original, .item-grid .item-sizer:hover .caption.original {
  top: auto;
  left: auto;
  bottom: auto;
  right: auto;
}

.item-grid.light-items .item {
  -webkit-transition: all .3s;
  transition: all .3s;
  border: 1px solid rgba(0, 0, 0, 0.1);
}

.item-grid.light-items .item:hover {
  border: 1px solid rgba(0, 0, 0, 0.2);
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.1);
}

.item-grid.masonry {
  display: block;
}

.item-grid.col-2 {
  margin: 0 -20px;
}

.item-grid.col-2 .item, .item-grid.col-2 .item-sizer {
  width: 550px;
  margin: 20px;
}

@media screen and (max-width: 1200px) {
  .item-grid.col-2 {
    margin: 0 -10px;
  }
  .item-grid.col-2 .item, .item-grid.col-2 .item-sizer {
    margin: 10px;
    width: 460px;
  }
}

@media screen and (max-width: 1200px) and (max-width: 992px) {
  .item-grid.col-2 .item, .item-grid.col-2 .item-sizer {
    width: 349px;
  }
}

.item-grid.col-3 {
  margin: 0 -20px;
}

.item-grid.col-3 .item, .item-grid.col-3 .item-sizer {
  width: 353px;
  margin: 20px;
}

.item-grid.col-3 .item.big, .item-grid.col-3 .item-sizer.big {
  width: 728px;
}

@media screen and (max-width: 1200px) {
  .item-grid.col-3 {
    margin: 0 -10px;
  }
  .item-grid.col-3 .item, .item-grid.col-3 .item-sizer {
    margin: 10px;
    width: 300px;
  }
}

@media screen and (max-width: 1200px) and (max-width: 992px) {
  .item-grid.col-3 .item, .item-grid.col-3 .item-sizer {
    width: 226px;
  }
}

.item-grid.col-4 {
  margin: 0 -20px;
}

.item-grid.col-4 .item, .item-grid.col-4 .item-sizer {
  margin: 20px;
  width: 255px;
}

@media screen and (max-width: 1200px) {
  .item-grid.col-4 {
    margin: 0 -10px;
  }
  .item-grid.col-4 .item, .item-grid.col-4 .item-sizer {
    margin: 10px;
    width: 220px;
  }
}

@media screen and (max-width: 1200px) and (max-width: 992px) {
  .item-grid.col-4 .item, .item-grid.col-4 .item-sizer {
    width: 164px;
  }
}

.item-grid.no-spacing {
  margin: 20px 0;
}

.item-grid.no-spacing .item, .item-grid.no-spacing .item-sizer {
  margin: 0;
}

.item-grid.no-spacing.col-2 .item, .item-grid.no-spacing.col-2 .item-sizer {
  width: 50%;
}

.item-grid.no-spacing.col-3 .item, .item-grid.no-spacing.col-3 .item-sizer {
  width: 33.333%;
}

.item-grid.no-spacing.col-4 .item, .item-grid.no-spacing.col-4 .item-sizer {
  width: 25%;
}

.thumb {
  margin: -1px;
  width: 101.1%;
  padding: 0;
  border: 0;
  border-radius: 0;
  text-align: center;
}

.thumb.small {
  width: 100px;
}

.thumb.rounded img {
  border-radius: 900px;
}

.thumb.centered {
  margin: 0 auto;
}

.thumb img {
  margin: 0;
  padding: 0;
  display: block;
  position: relative;
  width: 101.5%;
}

.item .caption {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  padding: 30px;
  background: rgba(0, 0, 0, 0.9);
  color: #fff;
  opacity: 0;
  -webkit-transition: all .3s;
  transition: all .3s;
}

.item .caption.original {
  position: relative;
  opacity: 1;
  background: #fff;
  color: #202020;
  padding: 10px 0;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
}

.item .caption.original h3 {
  font-size: 1.2em;
  font-family: "Roboto Mono", "Helvetica Neue", sans-serif;
}

.item .caption.original .details {
  font-size: 13px;
  color: #787878;
  margin-bottom: 12px;
}

.item .caption.original .label {
  font-size: 13px;
}

.item .caption.original *:last-child {
  margin-bottom: 0;
}

.item .caption h3 {
  margin-top: 0;
}

.item .caption .tags {
  position: absolute;
  bottom: 30px;
}

.item .caption .tags .tag {
  display: inline-block;
}

.item .caption ul.social {
  position: absolute;
  left: 20px;
  right: 20px;
  bottom: 20px;
  text-align: center;
}

.item .caption ul.social li a {
  color: #fff;
}

.item .caption .inner {
  text-align: center;
  width: auto;
  height: 50px;
  margin: auto;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
}

.item {
  opacity: 0;
  -webkit-transition: opacity 1s .2s;
  transition: opacity 1s .2s;
}

.item.in-view {
  opacity: 1;
}

.nav-btn {
  float: right;
  position: relative;
  z-index: 10;
  width: 30px;
  height: 30px;
  padding-top: 1px;
  cursor: pointer;
}

.nav-btn .bar {
  position: relative;
  width: 30px;
  height: 3px;
  background: #202020;
  margin: 5px 0;
  -webkit-transition: all .3s;
  transition: all .3s;
}

@media screen and (min-width: 992px) {
  .nav-btn.classic {
    display: none;
  }
}

.nav-container.boxed {
  position: absolute;
  right: -30px;
  top: 0;
  width: 330px;
  z-index: 9;
  -webkit-transform: rotateY(90deg);
          transform: rotateY(90deg);
  -webkit-transform-origin: 80% 0%;
          transform-origin: 80% 0%;
  opacity: 0;
  -webkit-transition: opacity .3s, -webkit-transform .3s .3s;
  transition: opacity .3s, -webkit-transform .3s .3s;
  transition: transform .3s .3s, opacity .3s;
  transition: transform .3s .3s, opacity .3s, -webkit-transform .3s .3s;
}

.nav-container.boxed .inner {
  position: relative;
  width: 330px;
  right: 20px;
  top: -20px;
  padding: 30px;
  background: #202020;
}

.nav-container.boxed .inner .title {
  margin-bottom: 20px;
  color: #fff;
  text-transform: uppercase;
  font-family: "Questrial", "Helvetica Neue", sans-serif;
}


.nav-container.boxed .search {
  position: relative;
  right: 20px;
  bottom: 20px;
}

.nav-container.boxed .search .form-control {
  padding: 30px;
  background: black;
}

.nav-container.boxed .search .input-group-btn {
  background: #202020;
}

.nav-container.boxed .search .btn {
  width: 70px;
  font-size: 18px;
  color: #EDEDED;
}

.nav-container.boxed .search .btn:hover {
  color: #fff;
}

.nav-container.boxed ul.navigation-items {
  margin: 0;
  padding: 0;
  list-style: none;
}

.nav-container.boxed ul.navigation-items ul.dropdown-nav {
  list-style: none;
  max-height: 0;
  overflow: hidden;
  -webkit-transition: all .3s;
  transition: all .3s;
  font-size: 13px;
  background: black;
  margin: 0 -30px 0;
  padding: 0 30px;
}

.nav-container.boxed ul.navigation-items ul.dropdown-nav li {
  border-bottom: 0;
}

.nav-container.boxed ul.navigation-items li {
  margin: 0;
  padding: 7px 0;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

.nav-container.boxed ul.navigation-items li.dropdown {
  position: relative;
}

.nav-container.boxed ul.navigation-items li.dropdown:after {
  content: '';
  display: block;
  float: right;
  border-color: #787878 transparent transparent transparent;
  border-width: 5px;
  position: absolute;
  top: 17px;
  right: 0;
  margin-top: -4px;
  border-style: solid;
}

.nav-container.boxed ul.navigation-items li.dropdown.hover {
  border-bottom: 0;
}

.nav-container.boxed ul.navigation-items li.dropdown.hover:after {
  top: 12px;
  border-color: transparent transparent #787878 transparent;
}

.nav-container.boxed ul.navigation-items li.dropdown.hover ul {
  max-height: 700px;
  margin-top: 10px;
  padding: 10px 30px;
}

.nav-container.boxed ul.navigation-items li a {
  color: #fff;
}

@media screen and (max-width: 992px) {
  .nav-container.classic {
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    background: #202020;
    text-align: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
                -ms-grid-row-align: center;
            align-items: center;
    display: none;
  }
  .nav-container.classic .inner {
    display: table;
    height: 100%;
  }
  .nav-container.classic .search {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    width: 300px;
    margin: 0 auto;
  }
  .nav-container.classic .search .form-control, .nav-container.classic .search .input-group-btn {
    background: black;
    color: #fff;
    padding: 10px 20px;
    height: 55px !important;
  }
  .nav-container.classic .search .input-group-btn {
    padding-right: 10px;
  }
  .nav-container.classic ul.navigation-items {
    width: 100vw;
    margin: 0;
    padding: 0;
    text-align: center;
    list-style: none;
    vertical-align: middle;
    display: table-cell;
  }
  .nav-container.classic ul.navigation-items li.dropdown.hover ul.dropdown-nav {
    max-height: 700px;
    margin-top: 10px;
    padding: 10px 0;
  }
  .nav-container.classic ul.navigation-items li.dropdown.hover ul.dropdown-nav li a:hover {
    opacity: 1;
  }
  .nav-container.classic ul.navigation-items ul.dropdown-nav {
    list-style: none;
    width: 500px;
    max-height: 0;
    overflow: hidden;
    -webkit-transition: all .4s;
    transition: all .4s;
    font-size: 13px;
    margin: 0 auto;
    padding: 0;
  }
}

@media screen and (max-width: 992px) and (max-width: 768px) {
  .nav-container.classic ul.navigation-items ul.dropdown-nav {
    width: 100vw;
  }
  .nav-container.classic ul.navigation-items ul.dropdown-nav li a {
    font-size: 14px;
  }
}

@media screen and (max-width: 992px) {
  .nav-container.classic ul.navigation-items ul.dropdown-nav li a {
    opacity: .5;
    -webkit-transition: all .3s;
    transition: all .3s;
  }
  .nav-container.classic ul.navigation-items li {
    width: 500px;
    margin: 0 auto;
    padding: 5px 0;
  }
}

@media screen and (max-width: 992px) and (max-width: 768px) {
  .nav-container.classic ul.navigation-items li {
    width: 100vw;
  }
}

@media screen and (max-width: 992px) {
  .nav-container.classic ul.navigation-items li a {
    color: #fff;
    font-size: 1.5em;
  }
  .nav-container.classic ul.navigation-items li li a {
    font-size: 16px;
  }
}

@media screen and (min-width: 992px) {
  .nav-container.classic ul.navigation-items {
    list-style: none;
    margin: 0;
    padding: 0 10px;
    position: relative;
    z-index: 3;
  }
  .nav-container.classic ul.navigation-items li {
    display: inline-block;
    margin: 0;
    padding: 10px 12px;
  }
  .nav-container.classic ul.navigation-items li:first-child {
    margin-left: 0;
  }
  .nav-container.classic ul.navigation-items li:last-child {
    margin-right: 0;
  }
  .nav-container.classic ul.navigation-items li a {
    color: #202020;
    opacity: .6;
  }
  .nav-container.classic ul.navigation-items li a:hover {
    opacity: 1;
  }
  .nav-container.classic ul.navigation-items li.dropdown {
    position: relative;
  }
  .nav-container.classic ul.navigation-items li.dropdown ul.dropdown-nav {
    box-shadow: 0 0 1px rgba(0, 0, 0, 0.3);
    opacity: 0;
    overflow: auto;
    list-style: none;
    max-height: 0;
    margin: 10px 0 0 -140px;
    min-width: 310px;
    padding: 0;
    position: absolute;
    z-index: 2;
    display: block;
    background: #fff;
    -webkit-transform: translateY(-10px);
            transform: translateY(-10px);
    -webkit-transition: opacity .3s, -webkit-transform .3s .3s;
    transition: opacity .3s, -webkit-transform .3s .3s;
    transition: transform .3s .3s, opacity .3s;
    transition: transform .3s .3s, opacity .3s, -webkit-transform .3s .3s;
  }
  .nav-container.classic ul.navigation-items li.dropdown ul.dropdown-nav:before {
    content: '';
    border-color: transparent transparent transparent #EDEDED;
    border-width: 10px;
    border-style: solid;
    position: absolute;
    top: -10px;
    left: 50%;
    z-index: 3;
  }
  .nav-container.classic ul.navigation-items li.dropdown:hover ul.dropdown-nav {
    -webkit-transition: opacity .3s, -webkit-transform .3s;
    transition: opacity .3s, -webkit-transform .3s;
    transition: transform .3s, opacity .3s;
    transition: transform .3s, opacity .3s, -webkit-transform .3s;
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
    padding: 10px;
    max-height: 9999px;
  }
  .nav-container.classic ul.navigation-items li.dropdown:hover ul.dropdown-nav li {
    display: block;
    margin: 0;
    padding: 5px;
  }
  .nav-container.classic ul.navigation-items li.dropdown:hover ul.dropdown-nav li a {
    display: block;
    padding: 5px;
    color: #202020 !important;
  }
}

.nav-container.fullscreen {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  background: #202020;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
              -ms-grid-row-align: center;
          align-items: center;
  display: none;
}

.nav-container.fullscreen .inner {
  display: table;
  height: 100%;
}

.nav-container.fullscreen .search {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  width: 300px;
  margin: 0 auto;
}

.nav-container.fullscreen .search .form-control, .nav-container.fullscreen .search .input-group-btn {
  background: black;
  color: #fff;
  padding: 10px 20px;
  height: 55px !important;
}

.nav-container.fullscreen .search .input-group-btn {
  padding-right: 10px;
}

.nav-container.fullscreen ul.navigation-items {
  width: 100vw;
  margin: 0;
  padding: 0;
  text-align: center;
  list-style: none;
  vertical-align: middle;
  display: table-cell;
}

.nav-container.fullscreen ul.navigation-items li.dropdown.hover ul.dropdown-nav {
  max-height: 700px;
  margin-top: 10px;
  padding: 10px 0;
}

.nav-container.fullscreen ul.navigation-items li.dropdown.hover ul.dropdown-nav li a:hover {
  opacity: 1;
}

.nav-container.fullscreen ul.navigation-items ul.dropdown-nav {
  list-style: none;
  width: 500px;
  max-height: 0;
  overflow: hidden;
  -webkit-transition: all .4s;
  transition: all .4s;
  font-size: 13px;
  margin: 0 auto;
  padding: 0;
}

@media screen and (max-width: 768px) {
  .nav-container.fullscreen ul.navigation-items ul.dropdown-nav {
    width: 100vw;
  }
  .nav-container.fullscreen ul.navigation-items ul.dropdown-nav li a {
    font-size: 14px;
  }
}

.nav-container.fullscreen ul.navigation-items ul.dropdown-nav li a {
  opacity: .5;
  -webkit-transition: all .3s;
  transition: all .3s;
}

.nav-container.fullscreen ul.navigation-items li {
  width: 500px;
  margin: 0 auto;
  padding: 5px 0;
}

@media screen and (max-width: 768px) {
  .nav-container.fullscreen ul.navigation-items li {
    width: 100vw;
  }
}

.nav-container.fullscreen ul.navigation-items li a {
  color: #fff;
  font-size: 1.5em;
}

.nav-container.fullscreen ul.navigation-items li li a {
  font-size: 16px;
}

.nav-container.sidebar {
  position: fixed;
  right: 0;
  top: 0;
  height: 100%;
  width: 330px;
  z-index: 9;
  -webkit-transform: rotateY(90deg);
          transform: rotateY(90deg);
  -webkit-transform-origin: 80% 0%;
          transform-origin: 80% 0%;
  opacity: 0;
  -webkit-transition: opacity .3s, -webkit-transform .3s .3s;
  transition: opacity .3s, -webkit-transform .3s .3s;
  transition: transform .3s .3s, opacity .3s;
  transition: transform .3s .3s, opacity .3s, -webkit-transform .3s .3s;
}

.nav-container.sidebar .inner {
  position: absolute;
  height: 100%;
  width: 330px;
  right: 0;
  top: 0;
  padding: 30px;
  background: #202020;
}

.nav-container.sidebar .inner .title {
  margin-top: 10px;
  margin-bottom: 30px;
  color: #fff;
  text-transform: uppercase;
  font-family: "Questrial", "Helvetica Neue", sans-serif;
  font-size: 18px;
}

.nav-container.sidebar .search {
  position: fixed;
  right: 0;
  bottom: 0;
}

.nav-container.sidebar .search .form-control {
  padding: 30px;
  background: black;
}

.nav-container.sidebar .search .input-group-btn {
  background: #202020;
}

.nav-container.sidebar .search .btn {
  width: 70px;
  font-size: 18px;
  color: #EDEDED;
}

.nav-container.sidebar .search .btn:hover {
  color: #fff;
}

.nav-container.sidebar ul.navigation-items {
  margin: 0;
  padding: 0;
  list-style: none;
}

.nav-container.sidebar ul.navigation-items ul.dropdown-nav {
  list-style: none;
  max-height: 0;
  overflow: hidden;
  -webkit-transition: all .3s;
  transition: all .3s;
  font-size: 13px;
  background: black;
  margin: 0 -30px 0;
  padding: 0 30px;
}

.nav-container.sidebar ul.navigation-items li.dropdown {
  position: relative;
}

.nav-container.sidebar ul.navigation-items li.dropdown:after {
  content: '';
  display: block;
  float: right;
  border-color: #787878 transparent transparent transparent;
  border-width: 5px;
  position: absolute;
  top: 17px;
  right: 0;
  margin-top: -3px;
  border-style: solid;
}

.nav-container.sidebar ul.navigation-items li.dropdown.hover:after {
  top: 12px;
  border-color: transparent transparent #787878 transparent;
}

.nav-container.sidebar ul.navigation-items li.dropdown.hover ul.dropdown-nav {
  max-height: 700px;
  margin-top: 10px;
  padding: 10px 30px;
}

.nav-container.sidebar ul.navigation-items li {
  margin: 0;
  padding: 5px 0;
}

.nav-container.sidebar ul.navigation-items li a {
  color: #fff;
}

@media screen and (max-width: 992px) {
  .nav-container.top {
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    background: #202020;
    text-align: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
                -ms-grid-row-align: center;
            align-items: center;
    display: none;
    opacity: 1;
    -webkit-transition: opacity 0a, -webkit-transform 0s;
    transition: opacity 0a, -webkit-transform 0s;
    transition: transform 0s, opacity 0a;
    transition: transform 0s, opacity 0a, -webkit-transform 0s;
  }
  .nav-container.top .col-md-3 {
    display: none;
  }
  .nav-container.top .col-md-9 {
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    margin: 0;
    padding: 0;
  }
  .nav-container.top .inner {
    display: table;
    height: 100%;
  }
  .nav-container.top .search {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    width: 300px;
    margin: 0 auto;
  }
  .nav-container.top .search .form-control, .nav-container.top .search .input-group-btn {
    background: black;
    color: #fff;
    padding: 10px 20px;
    height: 55px !important;
  }
  .nav-container.top .search .input-group-btn {
    padding-right: 10px;
  }
  .nav-container.top ul.navigation-items {
    width: 100vw;
    margin: 0;
    padding: 0;
    text-align: center;
    list-style: none;
    vertical-align: middle;
    display: table-cell;
  }
  .nav-container.top ul.navigation-items li.dropdown.hover ul.dropdown-nav {
    max-height: 700px;
    margin-top: 10px;
    padding: 10px 0;
  }
  .nav-container.top ul.navigation-items li.dropdown.hover ul.dropdown-nav li a:hover {
    opacity: 1;
  }
  .nav-container.top ul.navigation-items ul.dropdown-nav {
    list-style: none;
    width: 500px;
    max-height: 0;
    overflow: hidden;
    -webkit-transition: all .4s;
    transition: all .4s;
    font-size: 13px;
    margin: 0 auto;
    padding: 0;
  }
}

@media screen and (max-width: 992px) and (max-width: 768px) {
  .nav-container.top ul.navigation-items ul.dropdown-nav {
    width: 100vw;
  }
  .nav-container.top ul.navigation-items ul.dropdown-nav li a {
    font-size: 14px;
  }
}

@media screen and (max-width: 992px) {
  .nav-container.top ul.navigation-items ul.dropdown-nav li a {
    opacity: .5;
    -webkit-transition: all .3s;
    transition: all .3s;
  }
  .nav-container.top ul.navigation-items li {
    width: 500px;
    margin: 0 auto;
    padding: 5px 0;
  }
}

@media screen and (max-width: 992px) and (max-width: 768px) {
  .nav-container.top ul.navigation-items li {
    width: 100vw;
  }
}

@media screen and (max-width: 992px) {
  .nav-container.top ul.navigation-items li a {
    color: #fff;
    font-size: 1.5em;
  }
  .nav-container.top ul.navigation-items li li a {
    font-size: 16px;
  }
}

@media screen and (min-width: 992px) {
  .nav-container.top {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    padding: 55px 0 100px;
    background: #202020;
    -webkit-transform: rotateX(90deg);
            transform: rotateX(90deg);
    -webkit-transform-origin: 80% 0%;
            transform-origin: 80% 0%;
    opacity: 0;
    -webkit-transition: opacity .3s, -webkit-transform .3s .3s;
    transition: opacity .3s, -webkit-transform .3s .3s;
    transition: transform .3s .3s, opacity .3s;
    transition: transform .3s .3s, opacity .3s, -webkit-transform .3s .3s;
  }
  .nav-container.top .search {
    position: fixed;
    right: 0;
    left: 0;
    bottom: 0;
    margin: 0 auto;
    padding: 0 30px;
    width: 1200px;
  }
  .nav-container.top .search .form-control {
    padding: 30px;
    background: black;
  }
  .nav-container.top .search .input-group-btn {
    background: #202020;
  }
  .nav-container.top .search .btn {
    width: 70px;
    font-size: 18px;
    color: #EDEDED;
  }
  .nav-container.top .search .btn:hover {
    color: #fff;
  }
  .nav-container.top ul.social {
    margin-top: 20px;
  }
  .nav-container.top ul.social li a {
    color: #fff;
  }
  .nav-container.top ul.navigation-items {
    margin: -8px 70px 0 0;
    padding: 0;
    list-style: none;
    float: right;
    text-align: right;
    width: 350px;
  }
  .nav-container.top ul.navigation-items ul.dropdown-nav {
    position: absolute;
    list-style: none;
    float: right;
    text-align: right;
    width: 350px;
    min-width: 300px;
    -webkit-transform: scale(0);
            transform: scale(0);
    right: 0;
    max-height: 0;
    opacity: 0;
    margin: -8px 70px 0 0;
    padding: 20px 25px !important;
    -webkit-transition: all .3s;
    transition: all .3s;
    font-size: 13px;
    background: #fff;
    box-shadow: 0 2px 15px rgba(0, 0, 0, 0.3);
  }
  .nav-container.top ul.navigation-items ul.dropdown-nav li a {
    color: #202020;
  }
  .nav-container.top ul.navigation-items ul.dropdown-nav:before {
    content: '';
    display: block;
    border-width: 10px;
    border-color: #fff transparent transparent transparent;
    border-style: solid;
    position: absolute;
    top: 20px;
    right: -10px;
  }
  .nav-container.top ul.navigation-items li {
    margin: 0;
    padding: 5px 0;
  }
  .nav-container.top ul.navigation-items li a {
    color: #fff;
    opacity: .5;
    -webkit-transition: all .3s;
    transition: all .3s;
  }
  .nav-container.top ul.navigation-items li a:hover {
    opacity: 1;
  }
  .nav-container.top ul.navigation-items li.dropdown.hover ul.dropdown-nav {
    -webkit-transform: scale(1);
            transform: scale(1);
    z-index: 4;
    max-height: 1000px;
    margin-top: -30px;
    margin-right: 110px;
    padding: 10px 20px;
    opacity: 1;
  }
}

body.menu-active .nav-container.boxed, body.menu-active .nav-container.sidebar {
  -webkit-transform: scale(1) rotateY(0deg);
          transform: scale(1) rotateY(0deg);
  -webkit-transition: all .4s;
  transition: all .4s;
  opacity: 1;
}

body.menu-active .nav-container.top {
  -webkit-transform: scale(1) rotateX(0deg);
          transform: scale(1) rotateX(0deg);
  -webkit-transition: all .4s;
  transition: all .4s;
  opacity: 1;
}

body.menu-active .nav-btn .bar {
  background: #fff;
}

body.menu-active .nav-btn .bar:nth-child(1) {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  top: 12px;
}

body.menu-active .nav-btn .bar:nth-child(2) {
  opacity: 0;
}

body.menu-active .nav-btn .bar:nth-child(3) {
  top: -4px;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

body.fs-menu-active .nav-btn {
  position: fixed;
  top: 0;
  background: black;
  width: 50px;
  height: 50px;
  padding: 7px 10px;
  left: 0;
  right: 0;
  margin: 0 auto;
}

body.sb-menu-active .nav-btn {
  position: fixed;
  top: 32px;
  right: 25px;
}

.comments {
  margin: 40px 0;
}

.comments .comment {
  margin: 20px 0;
  position: relative;
}

.comments .comment .thumb {
  max-width: 55px;
}

@media screen and (max-width: 768px) {
  .comments .comment .thumb {
    margin: 0 auto;
  }
}

.comments .comment a {
  position: absolute;
  right: 0;
  top: 37px;
  display: block;
  z-index: 2;
  color: #202020;
  opacity: 0;
  -webkit-transition: all .3s;
  transition: all .3s;
}

.comments .comment a .fa-reply {
  margin-left: 5px;
}

.comments .comment:hover a {
  opacity: 1;
}

.comments .comment .details {
  margin-bottom: 20px;
}

@media screen and (max-width: 768px) {
  .comments .comment .details {
    text-align: center;
  }
}

@media screen and (max-width: 768px) {
  .comments .comment .comment {
    padding: 0 20px;
    border-left: 1px solid #EDEDED;
  }
  .comments .comment .comment p:last-child {
    margin-bottom: 0;
  }
}

.comments .comment .comment .thumb {
  margin-top: 5px;
}

.comments .comment .comment .details {
  margin-bottom: 10px;
}

ul.pagination {
  border-radius: 0 !important;
}

ul.pagination li {
  border-radius: 0;
}

ul.pagination li a, ul.pagination li span {
  border-radius: 0 !important;
  background: #EDEDED !important;
  border: 0 !important;
  color: #202020;
  padding: 12px 16px;
}

ul.pagination li span:hover {
  color: #202020;
}

ul.pagination li.active a, ul.pagination li:hover a {
  color: #fff;
  background: #202020 !important;
}

ul.pagination li.disabled a {
  color: #bbb;
  background: #EDEDED !important;
}

ul.pagination li.disabled:hover a {
  color: #bbb;
  background: #EDEDED !important;
}

ul.list-links {
  list-style: none;
  padding: 0;
}

ul.list-links li {
  display: block;
  margin-bottom: 5px;
}

ul.list-links li a {
  color: #202020;
}

ul.list-links li a span {
  color: rgba(32, 32, 32, 0.3);
}

@media screen and (max-width: 768px) {
  ul.list-links li a span {
    display: block;
  }
}

ul.list-links li:hover span {
  color: #202020;
}

ul.social {
  list-style: none;
  padding: 0;
}

ul.social li {
  display: inline-block;
  padding: 0 10px;
}

ul.social li:first-child {
  padding-left: 0;
}

ul.social li a {
  color: #202020;
  opacity: .5;
  -webkit-transition: opacity .3s;
  transition: opacity .3s;
}

ul.social li a:hover {
  opacity: 1;
}

ul.social-list {
  display: inline-block;
  list-style: none;
}

ul.social-list li {
  display: inline-block;
  margin: 0 15px;
}

ul.social-list li a {
  color: #202020;
}

ul.lined-list {
  padding: 0;
  margin: 0 0 30px;
  display: block;
  list-style: none;
}

ul.lined-list li {
  border-bottom: 1px solid #ccc;
}

ul.lined-list li a {
  display: block;
  padding: 10px 0;
  color: #202020;
  -webkit-transition: all .3s;
  transition: all .3s;
}

ul.lined-list li a:hover {
  text-decoration: none;
  padding: 10px 0 10px 10px;
}

ul.striped-list {
  padding: 0;
  margin: 0 0 30px;
  display: block;
  list-style: none;
}

ul.striped-list li a {
  display: block;
  padding: 10px 0 10px 25px;
  color: #202020;
  -webkit-transition: all .3s;
  transition: all .3s;
  position: relative;
}

ul.striped-list li a:before {
  content: '';
  display: block;
  width: 15px;
  left: 0;
  top: 50%;
  height: 1px;
  background: #ccc;
  position: absolute;
  -webkit-transition: all .3s;
  transition: all .3s;
}

ul.striped-list li a:hover {
  text-decoration: none;
  padding: 10px 0 10px 35px;
}

ul.striped-list li a:hover:before {
  width: 25px;
}

ul.checklist {
  list-style: none;
  margin: 0;
  padding: 0;
}

ul.checklist li {
  padding-left: 30px;
  position: relative;
  margin: 10px 0;
}

ul.checklist li:before {
  position: absolute;
  left: 0;
  display: inline-block;
  float: left;
  font-family: "Ionicons";
  content: "\f122";
}

.pricing-table {
  border: 1px solid #EDEDED;
  text-align: center;
  padding: 40px;
}

.pricing-table .price {
  font-size: 1.8em;
  font-family: "Questrial", "Helvetica Neue", sans-serif;
}

.pricing-table .type {
  font-size: 1.2em;
  margin-bottom: 40px;
}

.pricing-table .features {
  list-style: none;
  padding: 0;
  margin: 0;
}

.pricing-table .features li {
  font-size: 1.1em;
  font-weight: bold;
}

.pricing-table .features li:after {
  content: '';
  display: block;
  width: 50px;
  text-align: center;
  margin: 17px auto;
  clear: both;
  border-bottom: 1px solid #787878;
}

.pricing-table .features li:last-child {
  margin-bottom: 40px;
}

.pricing-table .features li:last-child:after {
  display: none;
}

.pricing-table .features li.disabled {
  font-weight: normal;
  opacity: .5;
}

.pricing-table .btn {
  font-size: 1.5em;
}

.pricing-table.featured {
  background: #EDEDED;
}

.pricing-table.featured .price {
  font-size: 2.3em;
}

.service {
  position: relative;
  padding: 0 15px;
  margin-top: 15px;
  margin-bottom: 40px;
  background: #EDEDED;
}

.service .title {
  position: absolute;
  bottom: 0;
  padding: 10px 15px;
  background: #202020;
  color: #fff;
  z-index: 2;
cursor: pointer;
}

.service .title:hover {
  position: absolute;
  bottom: 0;
  padding: 10px 15px;
  background: #555;
  color: #fff;
  z-index: 2;
}

.service div {
  padding: 0;
}

.service .image {
  background-size: cover;
  background-position: center;
}

.service .image:after {
  display: block;
  content: '';
  padding-top: 100%;
}

.service .description {
  padding: 50px;
}

@media screen and (max-width: 768px) {
  .service .description {
    padding: 20px 20px 35px;
  }
}

.service.image-left .title {
  right: 0;
}



.service.image-right .title {
  left: 0;
}

.label {
  background: #EDEDED;
  color: #202020;
  font-weight: 400;
  display: inline-block;
  padding: 5px;
  font-size: 1em;
}

.nav-tabs {
  border: 1px solid #ccc;
  clear: both;
}

.nav-tabs li a {
  border: 0 !important;
  border-right: 1px solid #ccc !important;
  border-radius: 0;
  padding: 18px 30px;
  margin: 0;
  color: #787878;
}

@media screen and (max-width: 768px) {
  .nav-tabs li a {
    padding: 10px 20px;
  }
}

.nav-tabs li a:hover {
  background: #EDEDED !important;
  color: #202020;
}

.tab-content {
  border: 1px solid #ccc;
  border-top: 0;
  padding: 10px 25px 10px;
}

.tab-content img {
  max-width: 100%;
  margin-bottom: 15px;
}

.item .sale {
  background: #fff;
  position: absolute;
  z-index: 3;
  font-size: 16px;
  padding: 10px;
  right: 0;
  bottom: 0;
}

.item .caption a {
  color: #fff;
  text-decoration: none;
}

.item .caption .price {
  position: absolute;
  bottom: 80px;
}

.item .caption .add-to-cart {
  position: absolute;
  bottom: 30px;
}

.item .caption .btn {
  border-color: #fff;
}

.price .old {
  text-decoration: line-through;
  font-size: 14px;
}

.price .new {
  font-size: 1.2em;
}

form.purchase {
  display: inline-block;
}

.cart {
  float: right;
  margin-left: 10px;
  cursor: pointer;
  z-index: 10;
  color: #202020;
}

.cart .cart-toggle {
  display: block;
}

@media screen and (max-width: 992px) {
  .cart .cart-toggle {
    clear: both;
    float: none;
    margin-top: -3px;
    margin-left: 5px;
  }
}

.cart .cart-toggle span {
  font-size: 18px;
  display: inline-block;
  padding-top: 1px;
}

.cart .cart-toggle span.amount {
  margin-top: 9px;
  margin-left: 8px;
  line-height: 1.5;
  font-size: 13px;
}

.cart-container {
  width: 300px;
  background: #fff;
  border: 1px solid #ccc;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  display: block;
  clear: both;
  top: 50px;
  right: 15px;
  position: absolute;
  color: #202020;
  display: none;
}

.cart-container .subtotal {
  padding: 20px;
  vertical-align: top;
  display: inline-block;
  width: 100%;
  color: #999;
  line-height: 1;
  background: #EDEDED;
}

.cart-container .subtotal span {
  font-size: 13px;
  margin: 0;
  float: left;
}

.cart-container .subtotal span.amount {
  float: right;
  color: #202020;
  font-weight: 400;
  font-size: 13px;
}

.cart-container .btn {
  font-size: 16px;
  display: block;
  margin: 20px;
}

.cart-container ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.cart-container ul li.product {
  padding: 20px;
  margin: 0;
  border-bottom: 1px solid #EDEDED;
}

.cart-container ul li.product a h5 {
  -webkit-transition: all .3s;
  transition: all .3s;
  font-size: 19px;
  margin-top: 0;
  margin-bottom: 5px;
  font-family: "Questrial", "Helvetica Neue", sans-serif;
  color: #202020;
}

.cart-container ul li.product a:hover {
  text-decoration: none;
}

.cart-container ul li.product a:hover h5 {
  opacity: .5;
}

.cart-container ul li.product img {
  width: 62px;
}

.cart-container ul li.product span {
  font-size: 13px;
}

.cart-container ul li.product .fa-times {
  font-size: 9px;
  margin: 0 10px;
  color: #555;
}

input.quantity {
  float: left;
  display: inline-block;
  width: 50px;
  color: #202020;
  font-size: 1.2em;
  padding: 5px 0 5px 9px;
  text-align: center;
  margin-right: 20px;
}

input[type=number]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  cursor: pointer;
  display: block;
  width: 8px;
  padding: 4px 0;
  height: 14px;
  color: #333;
  text-align: center;
  position: relative;
  right: 7px;
  -webkit-transition: opacity .3s;
  transition: opacity .3s;
  background: transparent url(../images/ui/updown.png) no-repeat 50% 50%;
  opacity: 0;
}

input[type=number]:hover::-webkit-inner-spin-button {
  background: transparent url(../images/ui/updown.png) no-repeat 50% 50%;
  opacity: 1;
  -webkit-transition: opacity .3s;
  transition: opacity .3s;
}

.table {
  margin: 0;
}

.table th {
  padding: 10px 0 !important;
}

.table td {
  padding: 10px 0 !important;
  vertical-align: middle !important;
}

.table.checkout td {
  padding: 25px !important;
  background: #EDEDED;
}

@media screen and (max-width: 992px) {
  .table .description, .table .total-price {
    display: none;
  }
}

@media screen and (max-width: 992px) {
  .table .checkout-update, .table .coupon {
    width: 100%;
    display: inline-block;
  }
  .table .checkout-update .pull-right, .table .coupon .pull-right {
    float: left !important;
  }
}

@media screen and (max-width: 992px) and (max-width: 768px) {
  .table .checkout-update .pull-right, .table .coupon .pull-right {
    width: 50% !important;
  }
}

.cart-item a {
  color: #202020;
}

.cart-item .thumb {
  width: 70px;
}

.cart-item input.quantity {
  margin-top: 0;
  padding: 0;
  height: 32px;
}

.cart-item td {
  padding: 25px 0 !important;
  line-height: 2 !important;
}

.cart-item img {
  margin: 0;
}

.cart-item .remove-from-cart {
  height: 30px;
  width: 30px;
  line-height: 30px;
  text-align: center;
  font-size: 30px;
  padding: 0;
  color: #fff !important;
}

.cart-item .remove-from-cart:hover {
  opacity: .5;
}

.coupon-code, .apply-coupon {
  float: left;
}

@media screen and (max-width: 768px) {
  .coupon-code, .apply-coupon {
    width: 50% !important;
    margin: 0 !important;
  }
}

.coupon-code {
  margin: 0;
  padding: 12px;
  width: 200px;
}

.coupon-code:focus {
  padding: 22px 15px;
}

.apply-coupon {
  padding: 6px 6px 7px;
  margin-left: 10px;
}

.apply-coupon:hover {
  color: #fff;
  background: #202020 !important;
}

@media screen and (max-width: 768px) {
  .apply-coupon {
    background: #202020 !important;
    color: #fff !important;
  }
}

/*

Titan Slider CSS
Version 1.0
Made by Themanoid

*/
.slider {
  position: relative;
  overflow: hidden;
  background: #EDEDED;
}

.slider .slides {
  font-size: 0;
  white-space: nowrap;
  position: relative;
  top: 0;
  left: -100%;
  margin: 0;
  padding: 0;
  -webkit-perspective: 1000px;
          perspective: 1000px;
}

.slider .slides .slide {
  background: #fff;
  display: inline-block;
  vertical-align: top;
  width: 100%;
  white-space: normal;
  -webkit-transition: -webkit-transform 1s;
  transition: -webkit-transform 1s;
  transition: transform 1s;
  transition: transform 1s, -webkit-transform 1s;
  -webkit-transform: scale(0.9);
          transform: scale(0.9);
  overflow: hidden;
  position: relative;
  z-index: 1;
}

.slider .slides .slide h1, .slider .slides .slide h2, .slider .slides .slide h3, .slider .slides .slide h4, .slider .slides .slide h5, .slider .slides .slide h6, .slider .slides .slide p, .slider .slides .slide a, .slider .slides .slide span {
  -webkit-transition: opacity .6s;
  transition: opacity .6s;
  opacity: 0;
}

.slider .slides .slide.active {
  z-index: 2;
  -webkit-transform: scale(1);
          transform: scale(1);
  -webkit-transition: -webkit-transform 1s;
  transition: -webkit-transform 1s;
  transition: transform 1s;
  transition: transform 1s, -webkit-transform 1s;
}

.slider .slides .slide.active h1, .slider .slides .slide.active h2, .slider .slides .slide.active h3, .slider .slides .slide.active h4, .slider .slides .slide.active h5, .slider .slides .slide.active h6, .slider .slides .slide.active p, .slider .slides .slide.active a, .slider .slides .slide.active span {
  -webkit-transition: opacity .6s .7s;
  transition: opacity .6s .7s;
  opacity: 1;
}

/*

Tera Lightbox CSS
Version 3.2
Made by Themanoid

*/
#lightbox {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #000;
  z-index: 9999;
  display: none;
}

#lightbox img, #lightbox iframe, #lightbox video {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  width: auto;
  height: auto;
  max-width: 90%;
  max-height: 90%;
  opacity: 0;
  -webkit-transform: scale(0.95);
          transform: scale(0.95);
  -webkit-transition: opacity .8s, -webkit-transform 1s;
  transition: opacity .8s, -webkit-transform 1s;
  transition: transform 1s, opacity .8s;
  transition: transform 1s, opacity .8s, -webkit-transform 1s;
}

#lightbox iframe, #lightbox video {
  width: 1280px;
  height: 720px;
  max-width: 80%;
  max-height: 90%;
}

#lightbox .controls {
  background: #222;
  width: 40px;
  height: 120px;
  position: absolute;
  z-index: 10000;
  bottom: 5%;
  left: 0;
}

#lightbox .controls .galleryNext, #lightbox .controls .galleryClose, #lightbox .controls .galleryPrev {
  width: 40px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  color: #ccc;
  -webkit-transition: all .3s;
  transition: all .3s;
  cursor: pointer;
}

#lightbox .controls .galleryNext:hover, #lightbox .controls .galleryClose:hover, #lightbox .controls .galleryPrev:hover {
  background: #444;
  color: #fff;
}

@media screen and (max-width: 768px) {
  #lightbox .controls {
    top: 0;
    left: 0;
    width: 100%;
    height: 60px;
    bottom: auto;
  }
  #lightbox .controls .galleryNext, #lightbox .controls .galleryClose, #lightbox .controls .galleryPrev {
    width: 33.3333%;
    float: left;
    height: 60px;
    line-height: 60px;
    font-size: 20px;
  }
  #lightbox .controls .galleryClose {
    background: black !important;
    font-size: 30px;
  }
}

#lightbox .caption {
  display: none;
  color: rgba(237, 237, 237, 0.5);
  position: fixed;
  left: 0;
  bottom: 0;
  right: 0;
  text-align: center;
  padding: 20px;
}
